./Applications
./Library
./Pictures
./Movies
./Music
./Downloads
./Desktop
./Documents
./IdeaSnapshots
./Postman
./Projects
./Code
./Tools
./Other

Applications/
Documents/
Downloads/
IdeaSnapshots/
Library/

# Hidden directories and config folders
.android
.cache
.cargo
.config
.cursor
.docker
.Genymobile
.gk
.gradle
.lemminx
.local
.m2
.mongodb
.npm
.oracle_jre_usage
.redhat
.rustup
.ssh
.sts4
.Trash
.vscode
.writerside
.zsh_sessions
.gitconfig
.zsh_history
.viminfo
# System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.AppleDB
.AppleDesktop
.AppleDouble
.AppleVolume
.viminfo
